.cart {
  --flow-space: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #fefefe;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  border: none;
  padding-bottom: var(--flow-space);

  @media (max-width: 24rem) {
    --flow-space: 1rem;
  }

  @media (min-width: 40em) {
    max-width: 480px;
    border-left: 1px solid #eee;
  }

  &.cart--open {
    transform: translateX(0);
  }

  .cart__header {
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #eee;
    padding-top: calc(0.72 * var(--flow-space));
    padding-bottom: calc(0.72 * var(--flow-space));

    @media (min-width: 40em) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  .cart__header > * {
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
  }

  .back-arrow {
    margin-right: 1.25rem;
  }

  .cart-icon {
    margin-left: 1rem;
  }

  .cart__header + p {
    margin-top: 2rem;
    text-align: center;
  }

  // .summary {
  //   height: max-content;
  //   margin-top: auto;
  //   margin-bottom: 0;
  //   justify-self: flex-end;
  // }

  .sub-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2.5rem;

    &-label {
      font-size: 1rem;
      font-weight: 500;
    }

    &-amount {
      font-size: 28px;
      font-size: clamp(28px, 6vw, 36px);
      font-weight: 300;
      letter-spacing: -1;

      @media (min-width: 40rem) {
        font-size: 36px;
      }
    }
  }

  .btn-checkout {
    background-color: black;
    color: white;
    padding: 20px 24px;
    padding-right: 43px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    align-items: center;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: 24rem) {
      padding-right: 24px;
    }

    @media (min-width: 40rem) {
      padding-right: 90px;
    }

    span {
      margin-left: 3rem;
      margin-left: clamp(1rem, 6vw, 3rem);

      @media (max-width: 24rem) {
        margin-left: 1rem;
        margin-left: clamp(1rem, 6vw, 3rem);
      }

      @media (min-width: 40rem) {
        margin-left: auto;
      }
    }
  }
}
