.search-box {
  display: flex;
  justify-content: center;
  height: 40px;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 30px;
  background: white;
  z-index: 1;
  transform: translateY(-200%);
  transition: transform 0.3s ease;

  &.search-box--shown {
    transform: translateY(0);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1rem;
    background: white;
    width: 100%;
    height: calc(100% + 2rem);
    z-index: -1;
  }

  @media (max-width: 320px) {
    padding: 0 1rem;
  }

  @media screen and (min-width: 40rem) {
    position: unset;
    max-width: 520px;
    transform: unset;

    &::before {
      content: unset;
    }
  }

  .close-search {
    margin-right: 0.5rem;
    background: transparent;
    border: none;

    @media screen and (min-width: 40rem) {
      display: none;
    }
  }

  input {
    height: 100%;
    width: 90%;
    border: 1px solid #ddd;
    padding: 11px;
    max-width: 501px;
  }

  button {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
