/* start of slick base styling */
.slick-list,
.slick-slider,
.slick-track {
  position: relative;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  background-color: transparent;
  margin-left: calc(var(--flow-space) * -1);
  margin-right: calc(var(--flow-space) * -1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: visible;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide > div {
  width: max-content;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  height: auto;
}

/* very specific tags to overwrite inline width */
.slick-slide,
.slick-slide.slick-active,
.slick-slide.slick-current,
.slick-slide.slick-cloned,
.slick-slide.slick-center,
.slick-slide.slick-slide.slick-current.slick-cloned,
.slick-slide.slick-center.slick-center.slick-current {
  background: transparent;
  width: max-content !important;
  margin-left: calc(var(--flow-space) / 2);
  margin-right: calc(var(--flow-space) / 2);
  border: none;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
}
/* end of slick theme styling */

/* start of slick theme styling */
.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  content: ' ';
  background-color: #ddd;
}

.slick-next,
.slick-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 250, 0.8) 0%,
    #f8f8fa 51.36%,
    rgba(248, 248, 250, 0.8) 100%
  );
  width: 2rem;
  border: none;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  outline-offset: none;
  transform: scale(1);

  &:hover,
  &:focus {
    outline: 1px solid rgb(139, 139, 139);
    outline-offset: -1px;
  }

  @media (min-width: 40rem) {
    width: 2.5rem;
  }
}

// .slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover { }

.slick-prev {
  left: 0;
}

[dir='rtl'] .slick-prev {
  right: 0;
  left: unset;
}

.slick-next {
  right: 0;
}

[dir='rtl'] .slick-next {
  right: unset;
  left: 0;
}

.slick-dots {
  margin: 0;
  margin-top: 1.75rem;
  list-style: none;
  text-align: center;
  padding: 0;

  @media (min-width: 40rem) {
    margin-top: 2.5rem;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  color: var(--color-green);
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  content: ' ';
  text-align: center;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color: var(--color-green);
}
/* end of slick theme styling */

/* start of custom styling */
.featured-books {
  margin-top: 0;

  @media (min-width: 40rem) {
    margin-top: 1rem;
  }

  h2 {
    font-size: 14px;
  }

  hr {
    height: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #eee;
    margin-top: 14px;
  }

  &-external-carousel {
    position: relative;
    margin-top: 1.5rem;
  }
}
