.loading-screen {
  display: flex;
  min-height: 80vh;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: 10rem;
    height: auto;
    animation-name: scale-and-rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin: 50% 50%;
  }

  @keyframes scale-and-rotate {
    0% {
      transform: rotate(0) scale(1.1);
    }
    50% {
      transform: rotate(1turn) scale(0.5);
    }
    100% {
      transform: rotate(0) scale(1.1);
    }
  }
}
