.test-data-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0.25rem;
  left: 50%;
  width: max-content;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  z-index: 2;

  small {
    color: white;
    line-height: 1.2;
    font-size: 0.5rem;
    font-weight: 400;
  }
}
