.book-list-container {
  margin-top: 2.5rem;
  margin-bottom: 3rem;

  h2 {
    font-size: 14px;
    max-width: unset;
  }

  hr {
    height: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #eee;
    margin-top: 14px;
  }

  .book-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 25px;

    @media (min-width: 40rem) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 75px;
      row-gap: 40px;
    }

    @media (min-width: 70rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
