body {
  // padding-top: 100px;
  padding-top: 7rem;

  @media (min-width: 40rem) {
    // padding-top: 130px;
    padding-top: 9rem;
  }
}

.page-header {
  --flow-space: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--flow-space, 1rem);
  padding-bottom: var(--flow-space, 1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: white;

  @media (min-width: 40rem) {
    --flow-space: 2.5rem;
  }

  picture {
    max-width: 141px;

    @media (min-width: 40rem) {
      max-width: 211px;
    }
  }

  .header-links {
    display: flex;
    margin-left: 1rem;
    margin-right: 0;

    button {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
    }

    & > * + * {
      margin-left: 2rem;
    }
  }

  .cart-link {
    position: relative;
  }

  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -50%);
    padding: 4px;
    color: white;
    font-size: 12px;
    border: none;
    z-index: 0;

    @media (max-width: 320px) {
      transform: translate(40%, -50%) scale(0.6);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #65c100;
      height: 20px;
      width: 20px;
      z-index: -1;
    }
  }
}
