.cart-item {
  display: flex;
  margin-top: 1.25rem;
  border: none;
  border-bottom: 2px solid #eee;
  padding-bottom: 1.5rem;

  @media (min-width: 40rem) {
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  & > * + * {
    margin-left: 0.75rem;
  }

  img {
    margin-top: auto;
    margin-bottom: auto;
    height: 90px;
    width: 60px;
  }

  &-text {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 14px;
      max-width: 100%;
      overflow-wrap: unset;
      text-overflow: clip;
    }

    .author {
      font-size: 12px;
      margin-top: 5px;
      font-weight: 400;
    }

    .btn-remove {
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 400;
      padding-left: 0;
      margin-top: auto;
      // margin-top: 2rem;
      // margin-bottom: 6px;
      justify-self: flex-end;
    }
  }

  .price-details {
    margin-left: auto;
    padding-left: 0.75rem;
    font-weight: 400;
    // min-height: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .unit-price,
  .item-subtotal {
    font-size: 14px;
  }

  .item-subtotal {
    font-weight: 700;
    margin-top: 1rem;
    justify-self: flex-end;
    // margin-bottom: 6px;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 0.5rem;

    button,
    span {
      border: 1px solid #ddd;
      font-weight: 400;
      font-size: 12px;
      padding: 0.5rem 0.75rem;
    }
  }
}
