.featured-book-item {
  position: relative;
  background-color: hsla(50, 50, 100, 0.01);
  display: flex;
  justify-content: center;
  max-width: max-content;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);

  h3 {
    color: white;
    z-index: 1;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: unset;
    text-align: center;
  }

  img {
    object-fit: cover;
    width: 140px;
    height: 210px;
    position: relative;
    z-index: 0;

    @media (min-width: 40rem) {
      width: 220px;
      height: 330px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }

  h3,
  &::before {
    display: none;
  }

  &:hover {
    h3,
    &::before {
      display: unset;
    }
  }
}
