.book-stats {
  display: flex;
  font-size: 12px;
  font-weight: 500px;
  line-height: 15px;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .likes,
  .purchases {
    align-items: center;
  }

  .likes {
    margin-left: 5px;
  }

  .ratings {
    margin-left: 10px;
    padding-left: 10px;
    border: none;
    border-left: 1px solid #eee;
  }

  .stars {
    margin-top: 4px;
  }
}
