:root {
  /* Sizing */
  --base-size: 1rem;
  --base-ratio: 1.15;

  --s--2: calc(var(--s--1) / var(--base-ratio));
  --s--3: calc(var(--s--2) / var(--base-ratio));
  --s--4: calc(var(--s--3) / var(--base-ratio));
  --s--5: calc(var(--s--4) / var(--base-ratio));
  --s--1: calc(var(--base-size) / var(--base-ratio));
  --s-0: var(--base-size);
  --s-1: calc(var(--s-0) * var(--base-ratio));
  --s-2: calc(var(--s-1) * var(--base-ratio));
  --s-3: calc(var(--s-2) * var(--base-ratio));
  --s-4: calc(var(--s-3) * var(--base-ratio));
  --s-5: calc(var(--s-4) * var(--base-ratio));
  --s-6: calc(var(--s-5) * var(--base-ratio));
  --s-7: calc(var(--s-6) * var(--base-ratio));
  --s-8: calc(var(--s-7) * var(--base-ratio));
  --s-9: calc(var(--s-8) * var(--base-ratio));
  --s-10: calc(var(--s-9) * var(--base-ratio));
  --s-11: calc(var(--s-10) * var(--base-ratio));
  --s-12: calc(var(--s-11) * var(--base-ratio));
  --s-13: calc(var(--s-12) * var(--base-ratio));
  --s-14: calc(var(--s-13) * var(--base-ratio));
  --s-15: calc(var(--s-14) * var(--base-ratio));
  --s-16: calc(var(--s-15) * var(--base-ratio));

  /* Colors */
  --color-light: 255, 255, 255; /* using rgb values for transforms */
  --color-light-shade: #f5f5f5;
  --color-dark: #333741;
  --color-grey: #85878d;

  --color-green: #65c100;
  --color-red: #c12300;

  /* Typography */
  --font-stack: 'Ubuntu', sans-serif;

  /* Layout Flow */
  --flow-space: 2.5rem;
}

/* RESET!!! */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global HTML Styles */
body {
  font-family: var(--font-stack);
  line-height: 1.5;
}

p {
  font-size: var(--s-1);
}

h1 {
  font-size: var(--s-7);
  font-weight: 700;
  line-height: 1.1;
  max-width: 13ch;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: var(--s-9);
  }
}

h2 {
  font-size: var(--s-5);
  font-weight: 700;
  line-height: 1.3;
  max-width: 15ch;
}

@media screen and (min-width: 40em) {
  h2 {
    font-size: var(--s-7);
  }
}

h3 {
  font-size: var(--s-2);
  font-weight: 600;
}

@media screen and (min-width: 40em) {
  h3 {
    font-size: var(--s-3);
  }
}

p {
  max-width: 60ch;
}

[data-mobile] {
  display: inline-block !important;
}

[data-wide] {
  display: none !important;
}

@media screen and (min-width: 40rem) {
  [data-mobile] {
    display: none !important;
  }

  [data-wide] {
    display: inline-block !important;
  }
}

[hidden] {
  display: none !important;
}

a {
  color: currentColor;
}

button {
  display: flex;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(1);
  }
}

nav {
  justify-content: space-between;
  align-items: center;
}

header a {
  font-size: var(--s--1);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

footer a {
  font-weight: 600;
  text-decoration: none;
}

header a:focus,
header a:hover,
footer a:focus,
footer a:hover {
  text-decoration: underline;
}

hr {
  width: 12rem;
  color: var(--color-grey);
}

@media screen and (min-width: 40em) {
  hr {
    margin-left: 0;
  }
}

/* Composition Classes */
.wrapper {
  padding-left: var(--flow-space);
  padding-right: var(--flow-space);
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.stack > * + * {
  margin-top: var(--flow-space) !important;
}

.split-pair {
  margin: calc(var(--flow-space) * -1);
}

.split-pair > * {
  margin: var(--flow-space);
}

@media screen and (min-width: 40em) {
  .split-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .split-pair > * {
    flex-basis: 50%;
  }

  .split-pair[data-align-start] {
    align-items: start;
  }

  .split-pair[data-skewed] > :first-child {
    flex-basis: 30%;
  }

  .split-pair[data-skewed] > :last-child {
    flex-basis: 70%;
  }

  .split-pair[data-reversed] {
    flex-direction: row-reverse;
  }
}

.cluster {
  overflow: hidden;
  --flow-space: 1.5rem;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--flow-space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--flow-space) / 2);
}

.switcher {
  --threshold: 40rem;
  --flow-space: 1.5rem;
  overflow: hidden;
}

.switcher > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--flow-space) / 2 * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - (100% - var(--flow-space))) * 999);
  margin: calc(var(--flow-space) / 2);
}

.center\:md {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .center\:md {
    align-items: unset;
    box-sizing: unset;
    display: unset;
    flex-direction: unset;
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    text-align: unset;
  }
}

/* Utility Classes */
.font-weight\:500 {
  font-weight: 500;
}

.font-weight\:600 {
  font-weight: 600;
}

.font-weight\:bold {
  font-weight: bold;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.text-align\:center {
  text-align: center;
}

.margin-inline\:auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-top\:auto {
  margin-top: auto;
}

.margin-top-small {
  margin-top: var(--s-0);
}

.margin-top-medium {
  margin-top: var(--s-8);
}

.overflow\:visible {
  overflow: visible;
}

.padding-block-small {
  padding-top: var(--s-0);
  padding-bottom: var(--s-0);
}

.padding-block-medium {
  padding-top: var(--s-8);
  padding-bottom: var(--s-8);
}

.padding-block-large {
  padding-top: var(--s-16);
  padding-bottom: var(--s-16);
}

.position\:relative {
  position: relative;
}

.visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow-space\:--s--5 {
  --flow-space: var(--s--5);
}

.flow-space\:--s-10 {
  --flow-space: var(--s-10);
}

/* Block Classes */
small {
  font-size: 0.5rem;
  line-height: 1;
}

.btn-primary {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  color: white;
}

/* DEBUGGING */
[href=''],
[href='#'],
img:not([alt]),
a:not([href]) {
  outline: 2px solid red;
  outline-offset: 0.125rem;
}
