.book-details-page {
  margin-bottom: 9rem;

  @media (min-width: 40rem) {
    margin-bottom: 3rem;
    display: flex;

    & > * + * {
      margin-left: 109px;
      margin-left: 69px;
    }
  }

  .sidebar {
    // margin-top: 18px;

    @media (min-width: 40rem) {
      margin-top: 54px;
    }

    .purchase-details {
      margin-top: 72.5px;
      width: 100%;
    }

    .quantity {
      color: var(--color-green);
      font-size: 14px;
      line-height: 15px;
      letter-spacing: -1;
      font-weight: 500;

      &.out-of-stock {
        color: var(--color-red);
      }
    }

    .price {
      margin-top: 7px;
      font-size: 36px;
      font-weight: 300;
      line-height: 41px;
    }
  }

  button {
    background: transparent;
    border: none;
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
  }

  [disabled] {
    opacity: 0.6;
    outline: none;
    pointer-events: none;
  }

  .back-btn {
    margin-left: -16px;

    svg {
      margin-right: 14px;
    }
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 24px;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      outline: 2px solid black;
      outline-offset: 2px;
    }

    &:active {
      outline: 2px solid white;
      outline-offset: -4px;
    }

    &:not(data-mobile) {
      padding-right: 48px;
      margin-top: 18px;
      width: 100%;

      svg {
        margin-right: 50px;
      }
    }

    &[data-mobile]:not([hidden]) {
      display: flex !important;
      position: fixed;
      bottom: 2rem;
      left: 50%;
      padding: 24px;
      transform: translateX(-50%);

      & > * + * {
        margin-left: 26px;
      }

      svg {
        fill: currentColor;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 26px;
      }

      .label {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
      }

      @media (min-width: 40rem) {
        display: none !important;
      }

      .text {
        width: max-content;
      }
    }

    .quantity {
      color: var(--color-green);
      font-size: 12px;
      letter-spacing: -1;
      font-weight: 300;

      &.out-of-stock {
        color: var(--color-red);
      }
    }

    .price {
      font-size: 28px;
      line-height: 32px;
    }
  }

  img {
    margin-top: 20px;
    width: 100%;
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 40rem) {
      height: 364.5px;
      width: 243px;
    }
  }

  .title {
    font-size: 28px;
    max-width: initial;
    line-height: 32px;
    margin-top: 32px;

    @media (min-width: 40rem) {
      margin-top: 90px;
    }
  }

  .author {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    margin-top: 25px;
  }

  .year {
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 7px;
  }

  hr {
    margin-top: 25px;
    margin-bottom: 16px;
    width: 100%;
    height: 0px;
    border: none;
    border-top: 1px solid #eee;
  }

  .book-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;

    @media (min-width: 40rem) {
      margin-top: -52px;
      margin-left: -52px;
    }

    & > * {
      max-width: 200px;

      margin-top: 20px;
      margin-left: 20px;

      @media (min-width: 40rem) {
        margin-top: 52px;
        margin-left: 52px;
      }
    }
  }

  h3 {
    font-size: 14px;
  }

  h3 + p {
    margin-top: 7px;
    font-size: 14px;
    line-height: 15px;
  }

  .subtitle,
  .description {
    font-size: 14px;
    line-height: 1.5;
  }

  .subtitle {
    margin-top: 38px;

    @media (min-width: 40rem) {
      margin-top: 42px;
    }
  }

  .description {
    margin-top: 40px;
    max-width: 75ch;
  }
}
