.book {
  display: flex;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.1s ease;
  max-width: 25rem;

  &:focus,
  &:focus-within,
  &:hover,
  &:active {
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  }

  & > * + * {
    margin-left: 14px;
  }

  h3 {
    font-size: 14px;
    margin-top: 10px;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  a {
    position: relative;
    z-index: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  /* Removed Large Clickable Area from Book */
  a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30rem;
    height: 15rem;
    // content: '';
    z-index: -1;
    transform: translateX(60%);
  }

  img {
    margin-top: auto;
    margin-bottom: auto;
    width: 110px;
    height: 183px;
  }

  .book-details {
    display: flex;
    flex-direction: column;
  }

  .book-details > *:not(.book-stats) {
    position: relative;
    z-index: 0;
  }

  &-author-year {
    margin-top: 6px;
  }

  &-genres {
    margin-top: 1px;
  }

  & .book-stats {
    margin-top: 14px;
  }

  .purchase-details {
    margin-top: 19px;
  }

  &-price {
    margin-right: 6px;
  }

  &-quantity {
    color: var(--color-green);
  }

  &-quantity.out-of-stock {
    color: var(--color-red);
  }

  button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    padding-left: 0;

    & svg {
      margin-right: 8px;
      fill: currentColor;
    }
  }
}
