.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;

  & > * + * {
    margin-top: 2rem;
  }

  & > p + p {
    margin-top: 1rem;
  }

  h1 {
    font-weight: 300;
    font-size: 4rem;

    @media (min-width: 40rem) {
      font-size: 7rem;
      font-size: clamp(4rem, 8vw, 7rem);
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: unset;

    @media (min-width: 40rem) {
      font-size: 4rem;
      font-size: clamp(2rem, 5vw, 4rem);
    }
  }

  a,
  p {
    font-size: 1rem;
    @media (min-width: 40rem) {
      font-size: 2rem;
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }

  p {
    color: #333;
    max-width: 100%;
  }

  strong {
    overflow-wrap: break-word;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
